body
{

    background: #FFFFFF;
	margin: 0;
}

*
{
	box-sizing: border-box;
}

.user-form
{
    margin: 0 auto;
    width: 481px;
    top: 31px;

    background: #F7F5F9;
    border-radius: 12px;
    position: relative;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    padding: 40px;
}

.user-form__title
{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #3B3D43;
    margin-bottom: 25px;
}

.user-form__input
{
    margin-bottom: 25px;
    height: 48px;
    color: #D0C9D6;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    padding-left: 16px;
    padding-right: 16px;
	border: 1px solid transparent;
}

.user-form__input:focus,
.user-form__input:active,
.user-form__input:hover
{
	border: 1px solid #854FC8;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
	outline: none;
}



#sendForm
{
    background: #6979F8;
    border-radius: 6px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
	cursor: pointer;
}